body
{
    background-color: rgb(198, 163, 163);
}
h1
{
    text-align: center;
    font-size: 100px;
    color: rgba(85, 8, 62, 0.675);
}
.dice_container
{
    margin-left: 31%;
    width: 1000px;
}
.player1
{
    display: inline-block;
    width: 300px;
}
.player2
{
    display: inline-block;
    width: 300px;
}
.player1 p
{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}
.player2 p
{
    font-size: 30px;
    text-align: center;
    font-family: cursive;
}